
input[type=text], select, textarea {
  background-color:#ecd1d1 ;
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ; 
}
input::placeholder{
    color:rgb(131, 29, 26) ;
}
textarea::placeholder{
    color:rgb(131, 29, 26) ;
}

input[type=submit] {
  background-color: rgb(131, 29, 26);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
 
  background-color: black;
  padding: 20px;
} 
label{
    color: #ecd1d1;
}